header{
     background-color: salmon;}
     main{
         background-color: pink;
     }
     footer{
         background: plum;
     }
     h1, h2, h3, h5, h6{
         font-family: fantasy;
         font-style: italic;

     }
     p{
         font-size: 1.4em;
     }
     h4{
        font-family: 'Ephesis', cursive;
     }
     h3{
         text-align: center;
         margin-bottom: 10px;
         font-size: 2em;
     }
     h2 {   
        display: block;
        font-size: 3em;
        font-weight: bold;
        color: white;

    }
    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    .button_align{
        align-self: start;
    }
    *{
        margin: 0px;
     
    }
    .main{
        background: url(../img/spacebg.jpg) no-repeat;
        background-size:cover;
        height: 100vh;
    }
   .main nav{
       display: flex;
       justify-content: space-around;
       align-self: center;
       text-align: center;
       font-size: x-large;
       background-color: aliceblue;
   }
   .main nav div{
       margin-top: 40px;
       flex-grow: 1;
   }
   .main nav div a{
       border-left: 2px solid blue;
       padding-left: 10px;
       color: black;
       text-decoration: none;
   }
   #logo{
       flex-grow: 5;
       margin: 30px;
       text-align: start;
       border-left: 0ch;    
   }
   .flex{
    display: flex;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    font-size: x-large;
}
footer{
    justify-content: space-around;
    align-self: right;
    text-align: right;
    font-size: x-large;
}
